@import "/reset.css";

.container {
  height: 600px;
  background: white;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
}

body {
  display: flex;
  background: gray;
}

.left_page {
  background-image: url(/img/gom2.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  background-size: 500px;
  flex-direction: column;
  display: flex;
  width: 500px;
}

.left_main {
  font-size: 35px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 900;
  color: white;
  text-align: center;
  margin-top: 400px;
}

.left_phrases {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  color: white;
  margin-top: 10px;
}

.left_icons {
  text-align: center;
  color: white;
  margin-top: 60px;
}

.fa-solid {
  padding: 5px;
}

.right_page {
  width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.main_logo {
  font-size: 30px;
  font-family: "Pacifico", cursive;
  margin-top: 60px;
}

.main_text {
  margin-top: 70px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 50px;
}

.main_login {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 60%;
  margin: 0 auto;
  font-family: "Noto Sans", sans-serif;
}

.login_txt,
#login,
.password_txt,
#password,
.forget_txt {
  margin-bottom: 6px;
  font-size: 13px;
  font-weight: 600;
}

.password_txt {
  margin-top: 10px;
}

.forgot_txt {
  text-align: end;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 11px;
  font-weight: 600;
}

input {
  line-height: 150%;
  border: none;
  border-bottom: 1px solid rgb(163, 161, 161);
}

.login_btn {
  width: 160px;
  margin: auto;
  height: 35px;
  background: rgb(105, 105, 105);
  color: white;
  border: none;
  border-radius: 30px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 800;
  font-size: 14px;
}

.main_or {
  display: flex;
  align-items: center;
  padding-right: 160px;
  padding-left: 160px;
  margin-top: 40px;
  color: rgb(105, 105, 105);
}
.or_bar {
  flex: auto;
  border: none;
  height: 0.1px;
  background-color: rgb(105, 105, 105);
}
.or_txt {
  padding: 0 10px;
  font-size: 10px;
}

.main_google {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.google_logo {
  width: 16px;
  height: 16px;
}

.google_txt {
  font-family: "Noto Sans", sans-serif;
  font-weight: 800;
  margin-left: 8px;
  font-size: 13px;
}

.login_new {
  display: flex;
  font-family: "Noto Sans", sans-serif;
  justify-content: center;
  font-size: 13px;
  font-weight: 800;
  margin-top: 25px;
}

.new_underline_txt {
  margin-left: 4px;
  text-decoration: underline;
  text-underline-position: under;
}
