* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  background: #eee;
}

.header {
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid rgb(217, 215, 215);
}

.header_title {
  font-size: 20px;
  font-weight: bold;
}

.header_left,
.header_right {
  display: flex;
  justify-content: center;
  background: white;
  border: none;
  width: 30px;
}

.header_left:hover,
.header_right:hover,
.fa-heart:hover {
  cursor: pointer;
}

.fa-chevron-left,
.fa-file-pen {
  color: #ffc0cb;
  padding: 10px;
}

.feed {
  border: 1px solid rgb(217, 215, 215);
  width: 90%;
  padding: 30px;
  background: white;
  margin: auto;
  margin-top: 30px;
  padding-bottom: 50px;
  margin-bottom: 30px;
}

.profile {
  display: flex;
}

.profile_info {
  margin-left: 15px;
}

.profile_nickname {
  font-weight: 600;
  line-height: 200%;
  font-size: 18px;
}

.profile_pic {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 30px;
}

.message {
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 15px;
}

.message_2nd {
  line-height: 180%;
}

.reaction {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.reach_and_comment {
  display: flex;
}

.reaction_comment {
  margin-left: 20px;
}

.heart {
  display: flex;
  flex-direction: column;
  color: rgb(150, 147, 147);
  background: white;
  border: none;
}

.heart-icon {
  align-self: center;
}

.heart-count {
  font-size: 15px;
}

.touched_heart {
  color: #ffc0cb;
}
